<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="../public/images/banner-autos-1.jpg" alt="">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<div class="col-12 col-sm-6 col-lg-3">
				<% for(i=0;i<5;i++){%>
					<section class="product-box">
						<a href="/product/detalle">
						<figure class="product-box_image">
							<img src="<%= lista[i].imagen %>" alt="Buggati Chiron">
						</figure>
						<article class="product-box_data">
							
							<%= lista[i].nombreDelProducto %>
							<div>
							<p><%= lista[i].descripcion %></p>
							</div>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			<% } %>

	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<% for(i=5;i<10;i++){%>
					<section class="product-box">
						<a href="/product/detalle">
						<figure class="product-box_image">
							<img src="<%= lista[i].imagen %>" alt="Buggati Chiron">
						</figure>
						<article class="product-box_data">
							
							<%= lista[i].nombreDelProducto %>
							<div>
							<p><%= lista[i].descripcion %></p>
							</div>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			<% } %>


	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>
