<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="../public/images/banner-autos-1.jpg" alt="imagen banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="pp3">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Vehículos:</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<div class="pp2">
				<% for(i=0;i<lista.length;i++){ %>
					<section class="product-box">
						<a href="/product/detalle">
						<figure class="product-box_image">
							<img src="<%= lista[i].imagen %>" alt="Buggati Chiron">
						</figure>
						<article class="product-box_data">
							
							<h2><%= lista[i].nombreDelProducto %></h2>
							<div>
							<p><%= lista[i].descripcion %></p>
							</div>
							
						</article>
					</a>
				</section>
			<% } %>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>
