<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				lista de productos
			</h2>
			<form action="/product/list" method="GET" enctype="multipart/form-data">
				<label>Buscar</label>
				<input type="search" name="search" placeholder="Ferrari F50">
				<input type="submit" value="Buscar">
			</form>
			<section class="product-box">
				<a href="/product/detalle/:id">
					<figure class="product-box_image">
						<img src="<%= producto.url_image %>" alt="Foto Producto">
					</figure>
					<article class="product-box_data">
						<h2><%= producto.name_ %></h2>
						<div>
							<p><%= producto.description %></p>
						</div>
					</article> 
				</a>
			</section>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>