<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if(!auth){%>
		<%- include('./partials/header')%>
	<% } else{ %> 
		<%- include('./partials/headerLogueado')%> 
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="https://via.placeholder.com/150" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">Nombre del usuario 
						<a href="/users/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				
				<section class="product-box">
					<% productos.forEach(function(producto){%>
						<section class="product-box">
							<a href="/product/detalle/:id">
								<figure class="product-box_image">
									<img src="<%= producto.url_image %>" alt="Foto Producto">
								</figure>
								<article class="product-box_data">
									<h2><%= producto.name_ %></h2>
									<div>
										<p><%= producto.description %></p>
									</div>
								</article> 
							</a>
						</section>
					<% }) %>
				</section>
			
			</div>
		</div>
	</div>	
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>